<div class="bs-docs-header">
  <div class="container">
    <h1>Sample Animation</h1>

    <p class="lead">
      This sample code demonstrates how to use the following Tasks:
    </p>

    <ul class="list-unstyled">
      <li>
          Easy integration with 3rd party library (<a href="http://snapsvg.io/">Snap SVG</a>).
      </li>
      <li>
          <strong>Closure</strong>: to define a small task within the context of a larger task-flow.
      </li>
      <li>
          <strong>Graph</strong>: to define application flow with only a few lines of code.
      </li>
    </ul>
  </div>
</div>

<div class="container bs-docs-container">
  <div ng-include="'app/demos/animation-1.html'"></div>

  <h3>
    HTML source
    <i class="fa fa-code"></i>
  </h3>

  <prism source="app/demos/animation-1.html"></prism>

  <h3>
    JavaScript source
    <i class="fa fa-code"></i>
  </h3>

  <prism parser="javascript" source="app/demos/animation-1.js"></prism>
</div>
