<div class="bs-docs-header">
  <div class="container">
    <h1>Composite &amp; Xhr example</h1>

    <p class="lead">This sample code demonstrates how to use the following tasks:</p>

    <ul class="list-unstyled">
      <li>
          <doclink name="tr.Xhr"></doclink>: loads data via an XML HTTP request.
      </li>
      <li>
          <doclink name="tr.Composite"></doclink>: to array simple serial or parallel task flows.
      </li>
      <li>
          Using task event handlers (e.g. <code>completed</code>) to perform small, synchronous actions within a set of tasks.
      </li>
    </ul>
  </div>
</div>

<div class="container bs-docs-container">
  <div ng-include="'app/demos/composite-and-xhr-sample.html'"></div>

  <h3>
    HTML source
    <i class="fa fa-code"></i>
  </h3>

  <prism source="app/demos/composite-and-xhr-sample.html"></prism>

  <h3>
    JavaScript source
    <i class="fa fa-code"></i>
  </h3>

  <prism parser="javascript" source="app/demos/composite-and-xhr-sample.js"></prism>
</div>