<div class="navbar-offset"></div>

<section id="docs" class="docs section">
  <div class="container">
    <div class="docs-inner">
      <h2 class="title text-center">Task Runner Demo</h2>            
      <div class="block">
        <div ng-include="'app/demos/demo-2.html'"></div>

        <h3 class="sub-title text-center">HTML</h3>
        <prism source="app/demos/demo-2.html"></prism>

        <h3 class="sub-title text-center">JavaScript</h3>
        <prism parser="javascript" source="app/demos/demo-2.js"></prism>
      </div><!--//block-->
    </div><!--//docs-inner-->         
  </div><!--//container-->
</section>