<div class="bs-docs-header">
  <div class="container">
    <h1>Creating Tasks</h1>
  </div>
</div>

<div class="container bs-docs-container">
  <p>
    Task Runner includes several reusable tasks but you can also create your own.
    There are 2 basic approaches:
  </p>

  <h3>Creating Tasks via Inheritance</h3>

  <p>
    Extend <code>tr.Abstract</code> task and override the <code>runImpl</code>, <code>interruptImpl</code>, and <code>resetImpl</code> methods.
    <a ui-sref="documentation.tr-Abstract">Learn more</a>...
  </p>

  <prism parser="javascript" source="app/snippets/create-task-through-extension.js"></prism>

  <h3>Creating Tasks via Composition</h3>

  <p>
    Use the built in <code>tr.Decorator</code> task to decorate objets and automatically <em>turn them into</em> fully functioning tasks.
    <a ui-sref="documentation.tr-Decorator">Learn more</a>...
  </p>

  <prism parser="javascript" source="app/snippets/create-task-through-composition.js"></prism>

  <h3>Creating Tasks with Closures</h3>

  <p>
    For simple operations, you can use the built in <code>tr.Closure</code> task to decorate functions turn it into a task.
    <a ui-sref="documentation.tr-Closure">Learn more</a>...
  </p>

  <prism parser="javascript" source="app/snippets/create-task-by-wrapping-closure.js"></prism>

  <h4>Next steps:</h4>
  
  <a ui-sref="getting-started-chaining-tasks" class="btn btn-outline btn-lg">
    Chaining Tasks
    <i class="fa fa-chevron-right"></i>
  </a>
</div>
