<div class="navbar-offset"></div>

<section id="contact" class="contact section has-pattern">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title text-center">Contact</h2>
            <div class="author-message">                      
                <div class="profile">
                    <img class="img-responsive" src="assets/images/profile.jpeg">
                </div><!--//profile-->
                <div class="speech-bubble">
                    <h3 class="sub-title">Have a question? Want a feature?</h3>
                    <p>
                        I appreciate feedback.
                        If you'd like to see changes made to Task Runner- please let me know by filing a <a href="https://github.com/bvaughn/task-runner/issues/new">Github issue</a>.
                    </p>
                    <p>
                        If you need help, you can also contact me on Linked In, Facebook, etc.
                    </p>
                    <div class="source">
                        <span class="name"><a href="www.linkedin.com/in/briandavidvaughn" target="_blank">Brian Vaughn</a></span>
                        <br>
                        <span class="title">Software Engineer</span>
                    </div><!--//source-->
                </div><!--//speech-bubble-->                        
            </div><!--//author-message-->
            <div class="clearfix"></div>
            <div class="info text-center">
                <h4 class="sub-title">Get Connected</h4>
                <ul class="social-icons list-inline">
                    <li><a href="https://twitter.com/brian_d_vaughn" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/brian.david.vaughn" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/briandavidvaughn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://plus.google.com/103563533740591305861/" target="_blank"><i class="fa fa-google-plus"></i></a></li>   
                    <li class="last"><a href="https://soundcloud.com/brianvaughn" target="_blank"><i class="fa fa-soundcloud"></i></a></li>              
                </ul>
            </div><!--//info-->
        </div><!--//contact-inner-->
    </div><!--//container-->
</section>