<main class="bs-docs-masthead">
  <div class="container">
    <h1>Task Runner</h1>

    <p class="lead">
      Task Runner is a collection of low-level libraries designed to make JavaScript application development easier.
    </p>

    <p class="lead secondary">
      With just a few characters you can chain together asynchronous operations.
    </p>

    <prism language="javascript" source="app/snippets/index-intro-teaser.js"></prism>

     <script src="app/demos/index-intro-teaser.js"></script>

    <p class="lead secondary">
      But that's only the beginning. Keep reading to learn more...
    </p>

    <p class="lead">
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/bvaughn/task-runner#installing-task-runner">
        View Source
        <i class="fa fa-github"></i>
      </a>

      <a class="btn btn-outline-inverse btn-lg" ui-sref="getting-started-what-is-a-task">
        Get Started
        <i class="fa fa-chevron-right"></i>
      </a>
    </p>
  </div>
</main>

<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="tagline">Works with your favorite frameworks!</h2>

    <p class="lead">
      Task Runner has no runtime dependencies on any external libraries.
      It can be used with any JavaScript framework- Angular, React, jQuery, etc.
    </p>

    <p class="lead">
      It's also built with <a href="http://www.typescriptlang.org/">TypeScript</a>-
      so if your project uses TypeScript, you'll have an even easier integration.
    </p>

    <a class="btn btn-outline btn-lg" ui-sref="getting-started-what-is-a-task">
      Keep Reading
      <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>