<div class="navbar-offset"></div>

<section id="license" class="license section">
    <div class="container">
        <div class="license-inner">
        <h2 class="title text-center">License</h2>
            <div class="info">
                <p class="text-center">
                    Task Runner is available under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, version 2.0</a>.
                </p>
                <p class="text-center">
                    You are free to use, modify, extend, and improve the library as you wish.
                </p>
            </div><!--//info-->
            <div class="cta-container">
                <div class="speech-bubble">
                    If you are feeling generous and want to say thanks for the library, consider buying me a cup of coffee.
                    <i class="fa fa-smile-o"></i>
                </div><!--//speech-bubble-->
                <div class="btn-container  text-center">

                <!-- PayPal generated code -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="U93RSNV8E4SKS">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                <!-- PayPal generated code -->
                    
                </div><!--//btn-container-->
            </div><!--//cta-container-->
        </div><!--//license-inner-->
    </div><!--//container-->
</section>