<div class="navbar-offset"></div>

<section id="about" class="about section">
    <div class="container">
        <h2 class="title text-center">Samples &amp; Demos</h2>
        <p class="intro text-center">
            Here are some example uses of the Task Runner library.
        </p>
        <div class="row">
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Sample Application</h3>
                    <ul class="list-unstyled">
                        <li>
                            <strong>Listener</strong>: to listen for events.
                        </li>
                        <li>
                            <strong>Tween</strong>: to control animations.
                        </li>
                        <li>
                            <strong>Closure</strong>: to define a small task within the context of a larger task-flow.
                        </li>
                        <li>
                            <strong>Graph</strong>: to define application flow with only a few lines of code.
                        </li>
                    </ul>
                    <p>
                        <a class="btn btn-cta-primary" ui-sref="demo1">View the demo</a>
                    </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-code"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Sample Application</h3>
                    <ul class="list-unstyled">
                        <li>
                            <strong>Xhr</strong>: loads data via an XML HTTP request.
                        </li>
                        <li>
                            <strong>Closure</strong>: to define a small task within the context of a larger task-flow.
                        </li>
                        <li>
                            <strong>Graph</strong>: to define application flow with only a few lines of code.
                        </li>
                    </ul>
                    <p>
                        <a class="btn btn-cta-primary" ui-sref="demo2">View the demo</a>
                    </p>
                </div><!--//content-->
            </div><!--//item-->
            <div class="item col-md-4 col-sm-6 col-xs-12">
                <div class="icon-holder">
                    <i class="fa fa-rocket"></i>
                </div>
                <div class="content">
                    <h3 class="sub-title">Animation Demo</h3>
                    <ul class="list-unstyled">
                        <li>
                            Easy integration with 3rd party library.
                        </li>
                        <li>
                            <strong>Closure</strong>: to define a small task within the context of a larger task-flow.
                        </li>
                        <li>
                            <strong>Graph</strong>: to define application flow with only a few lines of code.
                        </li>
                    </ul>
                    <p>
                        <a class="btn btn-cta-primary" ui-sref="animation1">View the demo</a>
                    </p>
                </div><!--//content-->
            </div><!--//item-->         
        </div><!--//row-->            
    </div><!--//container-->
</section>