p, div, table {
  font-size: 15px;
}

pre {
  font-size: 12px;
}

doclink, navdoclink {
  display: inline-block;
}
classname, prism, signature, throws, usage {
  display: block;
}

p, prism, ul, ol, dl {
  display: block;
  margin-bottom: 30px;
}

section .method-header {
  margin-top: 50px;
  margin-bottom: 20px;
}
section:first-of-type .method-header {
  margin-top: 0;
}

.bs-callout pre:last-of-type,
.bs-callout table:last-of-type,
.bs-callout ul:last-of-type,
.bs-callout prism:last-of-type {
  margin-bottom: 0;
}

.return-type-icon {
  font-size: 20px;
}

.bs-docs-constructor {
  margin: 30px 0;
}

.bs-docs-header .lead {
  margin-bottom: 15px;
  color: #FFFFFF;
}
.bs-docs-header a,
.bs-docs-header strong {
  color: #FFFFFF;
}
.bs-docs-header, .bs-docs-masthead {
  /*background-image: url(https://raw.githubusercontent.com/bvaughn/task-runner/gh-pages/images/header-background-tile.png);*/
}
.bs-docs-header code {
  background-color: transparent;
  color: #FFF;
}
.bs-docs-masthead prism,
.bs-docs-masthead .prism {
  margin: 0;
  max-width: 100%;
}
.bs-docs-masthead .demo-interrupt-paragraph {
  margin-bottom: 20px;
}
.bs-docs-masthead .demo-interrupt-paragraph > .btn {
  padding: 5px 10px;
  font-size: 14px;
}

.task-runner-documentation p {
  margin-bottom: 10px;
}

.alert a {
  font-weight: bold;
}

.table-params .optional {
  color: #999;
  font-style: italic;
}

.nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}
.nav > .dropdown {
  cursor: pointer;
}

code {
  color: #666;
  background: #EEE;
}

doclink > a > code {
  color: #c7254e;
  background-color: #f9f2f4;
}
doclink > a:hover,
doclink > a:active,
doclink > a.active {
  color: #c7254e;
  text-decoration: none;
}
doclink > a:hover > code {
  background-color: transparent;
}

.social-icons-list {
  display: inline-block;
  margin-bottom: 0;
}
.social-icons-list > a {
  display: inline-block;
}

.docs-list > dt {
  font-weight: normal;
} 

.bs-docs-masthead .secondary {
  font-size: 22px;
  margin-bottom: 20px;
}
.bs-docs-featurette .secondary {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-pulse {
  -webkit-animation: glow 2s ease-in-out infinite;
  animation: glow 2s ease-in-out infinite;
}
.btn-pulse:hover {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes glow {
  50% {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 5px #FFF;
  }
}

@keyframes glow {
  50% {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 5px #FFF;
  }
}

.intro-code-samples-and-calls-to-action {
  display: block;
  min-height: 275px;
}