p, div, table {
  font-size: 15px;
}

pre {
  font-size: 12px;
}

p, prism {
  display: block;
  margin-bottom: 30px;
}

section .method-header {
  margin-top: 50px;
  margin-bottom: 20px;
}
section:first-of-type .method-header {
  margin-top: 0;
}

.bs-callout pre:last-of-type,
.bs-callout table:last-of-type,
.bs-callout ul:last-of-type,
.bs-callout prism:last-of-type {
  margin-bottom: 0;
}

.return-type-icon {
  font-size: 20px;
}

.bs-docs-header .lead {
  margin-bottom: 15px;
  color: #FFFFFF;
}
.bs-docs-header a,
.bs-docs-header strong {
  color: #FFFFFF;
}

.task-runner-documentation p {
  margin-bottom: 10px;
}

.table-params .optional {
  color: #999;
  font-style: italic;
}

.bs-docs-sidebar .nav a.active {
  padding-left: 19px;
  color: #2b679b;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #2b679b;
}
.bs-docs-sidebar .nav a.active:hover {
  padding-left: 18px;
  border-left: 2px solid #2b679b;
}

.github-button {
  height: 20px;
  line-height: 17px;
}
.github-button-fork {
  width: 50px;
}
.github-button-stars {
  width: 80px;
}

.social-icons-list {
  display: inline-block;
}
.social-icons-list > a {
  display: inline-block;
}
